
plaintext
Copiar código
# Ignore virtual environment directories
venv/
env/
*.env

# Ignore Python configuration files
*.pyc
*.pyo
__pycache__/

# Ignore temporary files
*.log
*.swp
*.swo
.DS_Store

# Ignore IDE configuration files
.idea/
.vscode/

# Ignore system backup files
*~S