# Ignorar o diretório de ambiente virtual
venv/
env/
*.env

# Ignorar arquivos de configuração do Python
*.pyc
*.pyo
__pycache__/

# Ignorar arquivos temporários
*.log
*.swp
*.swo
.DS_Store

# Ignorar o arquivo de configuração de IDE
.idea/
.vscode/

# Ignorar arquivos de backup do sistema
*~